@font-face {
    font-family:'Pass';
    src: url('fonts/Arkhip_font.otf') format('opentype'), url('fonts/Arkhip_font.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: sans-serif;
}
h1{
    font-family: 'Pass', Times, serif;
}
body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: contents;
    justify-content: flex-start;
    align-items: 100%;
}

.left-login-image{
    width: 36vw;
    
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: 100%;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: black;
    font-weight: 800;
    justify-self: unset;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: black;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: black;
}


.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-size: smaller;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and(max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vh;
    }
    .card-login{
        width: 90%;
    }
}
